// bootstrap overrides
$primary: rgb(94, 94, 94);
$secondary: rgba(125, 125, 125, .1);

@import "~bootstrap/scss/bootstrap";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .chart-scroller {
    width: 65%;
    margin: 0 auto;
    padding: 1%;
    overflow: scroll;
    border-style: solid;
    border-color: black;
    border-width: .1rem;
  }
  
  .chart-container-1 {
    position: relative;
    margin: auto;
    height: 45vh;
    width: 85vw;
    overflow: scroll;
  }