// bootstrap overrides
$primary: #0d6efd;
$light: #e9ecef;

@import "~bootstrap/scss/bootstrap";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bg-primary {
  --bs-bg-opacity: .8;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

.app{
  width: 100vw;
  height: 100vh;
}

:export {
  primary: $primary;
  secondary: $secondary;
  success: $success;
  danger: $danger;
  warning: $warning;
  info: $info;
  light: $light;
  dark: $dark;
}